body {

}

main {
display: inline-block;
width: 1900px;
margin-left: calc(50% - 950px);
}

.left-co {
width: 40%;
float: left;

}

.rigth-co {
    width: 60%;
    float: left;
    
    
    
}

.main-title {
    font-size: 25px;
    color: #3651FB;
    
}

.paragraf {


}



.bottom-links {
    
}

